body     { background-color:dddddd;
           font-family:Verdana; font-size:10; }

a     { text-decoration:none; }
a img { border-width: 0; }

h1     { font-weight:bold; font-size:14; color:darkblue; }
h2     { font-weight:bold; font-size:12; color:black; }
h3     { font-weight:normal; font-size:12; color:black; }
h4     { font-weight:normal; font-size:10; color:black; }
h5     { font-weight:normal; font-size:8; color:gray; }
h6     { font-family:Arial; font-weight:normal; font-size:12; color:black; }

#logo     { position:absolute;
            left:30px; top:20px;
            height:67px; width:140px; }

#title    { position:absolute;
            left:200px; top:20px;
            height:120px; width:560px;
            overflow:hidden; }

#content-rotator     { position:absolute;
                       left:200px; top:0px;
                       height:120px; width:560px;
                       overflow:hidden; }

#weather  { position:absolute;
            left:795px; top:12px;
            height:90px; width:175px; }

#pagelogo { position:absolute;
            left:795px; top:12px;
            height:90px; width:175px; }

#list     { position:absolute;
            left:20px; top:120px;
            height:150px; width:170px; }

#news     { position:absolute;
            left:200px; top:120px;
            width:760px; padding:10px 20px;
            border-top:groove; border-left:groove;
            z-index:2; }

#fullstory     { position:absolute;
                 left:200px; top:40px;
                 width:760px; padding:20px 20px;
                 border-top:groove; border-left:groove; }

#headertable
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none
}
#headertd
{
    BORDER-TOP-STYLE: none;
    BORDER-RIGHT-STYLE: none;
    BORDER-LEFT-STYLE: none;
    BORDER-BOTTOM-STYLE: none;
}
#mediumth
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 11px;
    VERTICAL-ALIGN: bottom;
    BACKGROUND-COLOR: powderblue;
    border: thin groove;
    text_align: center
}
#mediumtd
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 11px;
    border: thin groove;
    text_align: center
}

p.align-left     { float:left; }

 .align-right     { float:right; }

 .center     { text-align:center; }

 .clear-left     { clear:left; }

 .clear-right     { clear:right; }

span.sort      { font-family:"Wingdings 3"; font-size:10; color:gray; }
span.hilite    { color:red; }
span.hidelink  { text-decoration:none; color:darkblue; }

#footer { display:none; }

